body{
  font-family: Arial,sans-serif;
  background-color: #3b504f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
h1{
    text-align: center;
    color: #ffffff;
}
form{
    background-color: #cbe19e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;

}
label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"], input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid#f00505;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}
input[type="submit"]{
    background-color: #075cfa;
    color: white;
    border-radius: 5px;
}
.error{
    color: #ec433d;
    font-size: 14px;
}





